.header {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.task {
	display: grid;
	grid-auto-flow: column;
	grid-template: 1fr 1fr / 1fr 1fr;
	border: 1px solid black;
}

.title {
	font-weight: bold;
}

.description {
	color: gray;
}

.due-date {
	font-style: italic;
}

.priority {
	color: red;
}
